<%= form_for(@guest_book_entry) do |f| %>
  <% if @guest_book_entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@guest_book_entry.errors.count, "error") %> prohibited this guest_book_entry from being saved:</h2>

      <ul>
      <% @guest_book_entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
